/* Open-Sans font CDN */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* css variables */
:root {
  --color-primary: #f24822;
  --color-dark: #222222;
  --color-white: #ffffff;
  --font-os: 'Open Sans', sans-serif;
}

/* For all components */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setup html and body */
body,
html {
  background: var(--color-white);
  user-select: none;
  overscroll-behavior: none;
  font-family: var(--font-os);
  color: var(--color-dark);
}
